// copied from https://github.com/Layout-Parser/Layout-Parser.github.io/blob/master/assets/css/bulma.scss
@charset "utf-8";

// Font Issues
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@400;600&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

$family-header: "Fira Sans Extra Condensed", sans-serif;
$family-primary: "Lato", sans-serif;
$family-secondary: "Lato", sans-serif;
$family-sans-serif: "Lato", sans-serif;

// Size Issues
$footer-padding: 1rem 1.5rem 1rem;
$footer-background-color: #f5f5f5; // hsl(0, 0%, 100%);
$navbar-padding-vertical: 0.25rem;
$navbar-height: 5rem;
$divider-thickness: 0.075rem;
$tabs-border-bottom-width: 0.075rem;

$red: #e46767;
$dark-red: #e43838;

// Layout Issues
$widescreen-enabled: true;
$fullhd-enabled: false;

// Navbar
$navbar-item-img-max-height: 4rem;

// Import Bulma
// @import "bulma/bulma";
@import "~bulma/bulma.sass";
@import "~bulma-divider/src/sass/index.sass";
// public

a.is-active {
    background-color: $red !important;
}

.theme-color {
    color: $red;
}
.theme-color:hover {
    color: $dark-red;
}

.install-btn,
.slack-btn,
.btn-anime {
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none !important;
}

.bg-transparent {
    background-color: transparent !important;
}

// Search
.is-selected {
    background-image: linear-gradient(141deg, #e8304f 0%, #e46767 71%, #ec8c79 100%) !important;
    color: #f5f5f5 !important;
}

// Navbar
.lp-navbar {
    padding: 16px 0;
}

.hero-head .lp-navbar {
    padding-bottom: 0px;
}

.lp-badge {
    height: 40px;
    vertical-align: middle;
}

.navbar-item {
    font-family: $family-header;
    font-weight: 400;
    font-size: 1.15rem;
}

// Slogan

.slogan-hero {
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.25);
}

.slogan {
    font-family: $family-header;
    font-weight: bold;
    line-height: 145%;
}

.slogan-description {
    line-height: 145%;
}

// Install button

.install-btn {
    padding: 1rem;
    border-radius: 0;
    background-color: transparent;
    font-family: "Source Code Pro", monospace;
    font-size: 1rem;
    min-width: 280px;
    border: 1px solid white;
    color: white;
}
.install-btn:hover {
    background-color: white;
    border: 1px solid transparent;
    color: $dark-red;
}

.modal-text {
    color: white;
    font-size: 72px;
    text-align: center;
}

// what-hero

.what-hero-detail {
    display: none;
}
.what-hero-detail.is-active {
    display: initial;
}

// Article & posts styles
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $family-header;
}

.content .highlight {
    text-align: left;
    margin-left: 0em;
    margin-right: 0em;
} // Because Bulma will change the default figure style.

.header-link {
    position: relative;
    left: 0.5rem;
    opacity: 0;

    \-webkit-transition: opacity 0.2s ease-in-out 0.1s;
    \-moz-transition: opacity 0.2s ease-in-out 0.1s;
    \-ms-transition: opacity 0.2s ease-in-out 0.1s;
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
    opacity: 0.5;
}

.utterances {
    max-width: 100%;
}

.video_container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 51%;
}

.video_container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

// Slack

.slack-hero {
    background-color: #f5f5f5;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.25);
}

.slack-title {
    font-family: $family-header;
    font-weight: bold;
}

.slack-btn {
    border: none;
    background-color: $red;
}
.slack-btn:hover {
    background-color: $dark-red;
}

.slack-btn-txt {
    font-size: 1.15rem;
    font-family: $family-header;
    color: white !important;
}

.model-list-date, .model-list-divider, .model-list-minutes, .model-list-cat {
    font-family: $family-sans-serif;
    color: $grey-light;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.model-config {
    background-color: $white;
}

// common css for bluma different version consistency

.hero-body {
    padding: 3rem 1.5rem;
}